<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>974432846051-dt84n5hpnnerp5g59jtamm2ce866jagq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.974432846051-dt84n5hpnnerp5g59jtamm2ce866jagq</string>
	<key>API_KEY</key>
	<string>AIzaSyCRnp1vi5s3uO34-q2QcVNQ4ovutPb0oG0</string>
	<key>GCM_SENDER_ID</key>
	<string>974432846051</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.magarex.jwelerykart</string>
	<key>PROJECT_ID</key>
	<string>jwelerykart</string>
	<key>STORAGE_BUCKET</key>
	<string>jwelerykart.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:974432846051:ios:1773478b4368a550</string>
	<key>DATABASE_URL</key>
	<string>https://jwelerykart.firebaseio.com</string>
</dict>
</plist>